.button {
  background-color: #2b891a;
  border: none;
  color: white;
  padding: 12px 22px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  opacity: 1;
  margin-top: 12px;
  font-family: "Helvetica";
  font-size: 0.9375rem;
}

.button:hover {
  opacity: 0.8;
}
